<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic"
          />
          {{ content }}
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">

        <p>
        <font size=4><b>Interests</b></font>
        </p>
          <p>
            My research interests focus on networked systems in the areas of <i><b>wireless communication and sensing, human-computer interaction and cyber security</b></i>.
          </p>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">

          <img
            src="{{ page.cat_picture.src | absolute_url }}"
            alt="{{ page.cat_picture.alt }}"
          />

        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">

        <p>
        <font size=4><b>News</b></font>
        </p>
        <p>
          2024.09 - Our paper <i><b>M3CAM</b></i> is pre-accepted by <i><b>ACM SenSys 2024</b></i> ！
         </p>
         <p>
          2024.08 - Our paper <i><b>DASIV</b></i> is accepted by <i><b>IEEE IPCCC 2024</b></i>.
         </p>
         <p>
          2024.08 - Our paper is accepted by <i><b>ACM EuroSys 2024</b></i> !
         </p>
          <p>
            2024.08 - I serve as PC Member for <i><b>IEEE BIBM 2024</b></i> !
          </p>
          <p>
            2024.07 - Two papers are accepted by <i><b>ACM UbiComp 2024 poster/workshop</b></i>.
          </p>
          <p>
            2024.07 - Our paper <i><b>VISAR</b></i> is accepted by <i><b>ACM IMWUT 2024</b></i> !
          </p>
          <p>
            2024.06 - Our paper <i><b>HandPad</b></i> is accepted by <i><b>ACM UIST 2024</b></i> !
          </p>
          <p>
            2024.05 - Two papers are accepted by <i><b>ICIC 2024</b></i>.
          </p>
          <p>
            2023.11 - Our paper <i><b>MuDiS</b></i> is accepted by <i><b>ACM MobiCom 2024</b></i> !
          </p>
          <p>
            2023.06 - I successfully defend the doctor dissertation.
          </p>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">

        <p>
        <font size=4><b>Publications</b></font>
        </p>
            <p>
            HandPad: Make Your Hand an On-the-go Writing Pad via Human Capacitance<br>
            Yu Lu, Hao Pan, <b>Dian Ding</b>*, Yijie Li, Juntao Zhou, Yongjian Fu, Yongzhao Zhang, Yi-Chao Chen and Guangtao Xue<br> 
            <b>ACM UIST 2024, CCF-A</b> (* corresponding author)
          </p>
          <p>
            VISAR: Projecting Virtual Sound Spots for Acoustic Augmented Reality Using Air Nonlinearity<br>
            Juntao Zhou, Yijie Li, Yida Wang, <b>Dian Ding</b>, Yu Lu, Yi-Chao Chen and Guangtao Xue<br> 
            <b>ACM UbiComp 2024, CCF-A</b> 
          </p>
          <p>
            Enable Touch-based Communication between Laptop and Smartwatch<br>
            <b>Dian Ding</b>, Yijie Li, Hao Pan, Yu Lu, Yi-Chao Chen and Guangtao Xue<br> 
            <b>ACM UbiComp 2024 Poster, CCF-A</b> 
          </p>
          <p>
            HCMG: Human-Capacitance based Micro Gesture for VR/AR<br>
            Yu Lu, <b>Dian Ding</b>*, Ran Wang and Guangtao Xue<br> 
            <b>ACM UbiComp 2024 MIMSVAI, CCF-A</b> (* corresponding author)
          </p>
          <p>
            MuDiS: An Audio-independent, Wide-angle, and Leak-free Multi-directional Speaker <br> 
            Yijie Li, Juntao Zhou, <b>Dian Ding</b>*, Yi-Chao Chen*, Lili Qiu, Jiadi Yu and Guangtao Xue<br> 
            <b>ACM MobiCom 2024, CCF-A</b> (* corresponding author)
          </p>
          <p>
            LeakThief: Stealing the Behavior Information of Laptop via Leakage Current <br> 
            <b>Dian Ding</b>, Yi-Chao Chen, Xiaoyu Ji, Guangtao Xue<br> 
            <b>IEEE SECON 2023, CCF-B</b>
          </p>
          <p>
            Leakage or Identification - Behavior-irrelevant User Identification Leveraging Leakage Current on Laptops <br> 
            <b>Dian Ding</b>, Lanqing Yang, Yi-chao Chen and Guangtao Xue<br> 
            <b>ACM UbiComp 2022, CCF-A</b>
          </p>
          <p>
            Handwriting Recognition System Leveraging Vibration Signal on Smartphones <br> 
            <b>Dian Ding</b>, Lanqing Yang, Yi-chao Chen and Guangtao Xue<br> 
            <b>IEEE TMC 2022, CCF-A</b>
          </p>
          <p>
            VibWriter - Handwriting Recognition System based on Vibration Signal <br> 
            <b>Dian Ding</b>, Lanqing Yang, Yi-chao Chen and Guangtao Xue<br>  
            <b>IEEE SECON 2021, CCF-B</b>
          </p>
          <p>
            MagPrint - Deep learning based user fingerprinting using electromagnetic signals <br> 
            Lanqing Yang, Yi-chao Chen, Hao Pan, <b>Dian Ding</b> and Guangtao Xue<br> 
            <b>IEEE INFOCOM 2020, CCF-A</b>
          </p>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
    
        <p>
        <font size=4><b>Honors</b></font>
        </p>
        <p>
          Shanghai Jiao Tong University Explore X Foundation - 2024
        </p>
          <p>
            Nomination for Young Outstanding Paper at the World Congress on Artificial Intelligence - 2021
        </p>
         <p>
            First Class Scholarship at School Level - 2017
          </p>
        <p>
            Second Class Scholarship at School Level - 2013, 2014
          </p>
        </div>
      </div>
    </div>

        <div class="page-content">
      <div class="wrapper">
        <div class="home">
    
        <p>
        <font size=4><b>Serves</b></font>
        </p>
          <p>
            <b>TPC</b> - ICIC 2024, IEEE BIBM 2024
        </p>
        <p>
            <b>Reviewer</b> - ACM CHI 2025, IEEE ICASSP 2025, IEEE ICDCS 2024, IEEE ICME 2024, Elsevier IoT
          </p>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">

        <p>
        <font size=4><b>Hobbies</b></font>
        </p>
        <p>
            In my spare time, I enjoy anime, fitness and travelling. I  have a Bichon Frise called Xiao Kui and a Ragdoll cat called Xiao Shin. 
        </p>

        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
