<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic"
          />
          {{ content }}
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">

        <p>
        <font size=4><b>Interests</b></font>
        </p>
          <p>
            My research interests focus on networked systems in the areas of <i><b>wireless communication and sensing, human-computer interaction and cyber security</b></i>.
          </p>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">

          <img
            src="{{ page.cat_picture.src | absolute_url }}"
            alt="{{ page.cat_picture.alt }}"
          />

        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">

        <p>
        <font size=4><b>News</b></font>
        </p>
        <p>
          2024.10 - Our paper <i><b>HCMG</b></i> is honoured with <i><b> MIMSVAI 2024 Best Paper Award !</b></i> 
         </p>
        <p>
          2024.09 - Our paper <i><b>M3CAM</b></i> is pre-accepted by <i><b>ACM SenSys 2024 !</b></i>
         </p>
         <p>
          2024.08 - Our paper <i><b>DASIV</b></i> is accepted by <i><b>IEEE IPCCC 2024</b></i>.
         </p>
         <p>
          2024.08 - Our paper is accepted by <i><b>ACM EuroSys 2024 !</b></i> 
         </p>
          <p>
            2024.08 - I serve as PC Member for <i><b>IEEE BIBM 2024 !</b></i> 
          </p>
          <p>
            2024.07 - Two papers are accepted by <i><b>ACM UbiComp 2024 poster/workshop</b></i>.
          </p>
          <p>
            2024.07 - Our paper <i><b>VISAR</b></i> is accepted by <i><b>ACM IMWUT 2024 !</b></i> 
          </p>
          <p>
            2024.06 - Our paper <i><b>HandPad</b></i> is accepted by <i><b>ACM UIST 2024 !</b></i> 
          </p>
          <p>
            2024.05 - Two papers are accepted by <i><b>ICIC 2024</b></i>.
          </p>
          <p>
            2023.11 - Our paper <i><b>MuDiS</b></i> is accepted by <i><b>ACM MobiCom 2024 !</b></i> 
          </p>
          <p>
            2023.06 - I successfully defend the doctor dissertation.
          </p>
        </div>
      </div>
    </div>


    <div class="page-content">
      <div class="wrapper">
        <div class="home">
    
        <p>
        <font size=4><b>Honors</b></font>
        </p>
        <p>
          ACM UbiComp MIMSVAI Best Paper Award - 2024
        </p>
          <p>
            Nomination for Young Outstanding Paper at the World Congress on Artificial Intelligence - 2021
        </p>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
    
        <p>
        <font size=4><b>Fund</b></font>
        </p>
        <p>
          Natural Science Foundation of Shanghai  - 2024
        </p>
        <p>
          Shanghai Jiao Tong University Explore X Foundation - 2024
        </p>
        </div>
      </div>
    </div>

        <div class="page-content">
      <div class="wrapper">
        <div class="home">
    
        <p>
        <font size=4><b>Serves</b></font>
        </p>
          <p>
            <b>TPC</b> - IEEE BIBM 2024, ICIC 2024, CHCHI 2024
        </p>
        <p>
            <b>Reviewer</b> - ACM CHI 2025, IEEE ICASSP 2025, IEEE ICDCS 2024, IEEE ICME 2024, Elsevier IoT
          </p>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">

        <p>
        <font size=4><b>Hobbies</b></font>
        </p>
        <p>
            In my spare time, I enjoy anime, fitness and travelling. I  have a Bichon Frise called Xiao Kui and a Ragdoll cat called Xiao Shin. 
        </p>

        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
