<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic"
          />
          {{ content }}
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">

        <p>
        <font size=4><b>Interests</b></font>
        </p>
          <p>
            My research interests focus on networked systems in the areas of <i><b>wireless communication and sensing, human-computer interaction and cyber security</b></i>.
          </p>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">

          <img
            src="{{ page.cat_picture.src | absolute_url }}"
            alt="{{ page.cat_picture.alt }}"
          />

        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">

        <p>
        <font size=4><b>News</b></font>
        </p>
          <p>
            2024.05 - Two papers are accepted by <b>ICIC 2024</b>.
          </p>
          <p>
            2023.11 - Our paper <i><b>MuDiS</b></i> is accepted by <i><b>ACM MobiCom 2024</b></i> !
          </p>
          <p>
            2023.06 - I successfully defend the doctor dissertation.
          </p>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">

        <p>
        <font size=4><b>Selected Publications</b></font>
        </p>
          <p>
            MuDiS: An Audio-independent, Wide-angle, and Leak-free Multi-directional Speaker - <b>ACM MobiCom 2024, CCF-A</b> 
            Yijie Li, Juntao Zhou, Dian Ding*, Yi-Chao Chen, Lili Qiu, Jiadi Yu and Guangtao Xue*
          </p>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
    
        <p>
        <font size=4><b>Honors</b></font>
        </p>
          <p>
            Nomination for Young Outstanding Paper at the World Congress on Artificial Intelligence - 2021
        </p>
         <p>
            First Class Scholarship at School Level - 2017
          </p>
        <p>
            Second Class Scholarship at School Level - 2013, 2014
          </p>
        </div>
      </div>
    </div>

        <div class="page-content">
      <div class="wrapper">
        <div class="home">
    
        <p>
        <font size=4><b>Serves</b></font>
        </p>
          <p>
            <b>TPC</b> - ICIC 2024
        </p>
        <p>
            <b>Reviewer</b> - IEEE ICDCS 2024, IEEE ICME 2024, Elsevier IoT
          </p>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">

        <p>
        <font size=4><b>Hobbies</b></font>
        </p>
        <p>
            In my spare time, I enjoy anime, fitness and travelling. I  have a Bichon Frise called Xiao Kui and a Ragdoll cat called Xiao Shin. 
        </p>

        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
